//colors 
$dark-gray: #898989;
$light-gray: #efefef;
$gray: #a1a1a1;
$black: #000000;
$light-blue: #6fc2e9;
$blue : #47a5de;
$white: #ffffff;
$turquoise-bg:#2d9189;
$yellow-bg: #cd9838;
$blue-bg: #144664;
$devider-gray: #d8d7d7;


//fonts
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;